*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(banner.png);
    background-position: center;
    background-size: cover;
    
    
}
nav{
    
    padding: 30px 6%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
nav img{
    width: 150px;
}
.nav-names{
    text-align: right;
}
.gap{
    margin-left: 20px;
}

.nav-names ul li{
    list-style: none;
    display: inline-block;
}
.nav-names ul li a{
    color: white;
    text-decoration: none;  
    font-size: 18px;
}
.nav-names ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-names ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 75px;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: white;
}
.click-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid;
    font-size: 13px;
    background: transparent;
    padding:12px 34px;
    
}
.click-button:hover{
    border: 1px solid;
    background: #36a2f4c8;
    transition: 1s;

}

/* ------COURSE--------- */

.course{
    width: 78%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}
.course-col:hover{
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}




/* -----Campus-------- */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin: 27px;
    overflow: hidden;
    position: relative;
}
.campus-col img{
    width: 100%;
    display: block;  
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%; 
    position: absolute;
    top: 0;
    left: 0;

}
.layer:hover{
    background: rgba(234, 105, 105, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    opacity: 0;
    transition: 0.5s;  
}
.layer:hover h3{
    opacity: 1;
}


/* ------------Facilities----------------- */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;

}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin: 4%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;

}
.facilities-col p{
   padding: 0;
   margin-top: 16px;
   margin-bottom: 16px;
   text-align: left;
}


/* ---------Reviews---------- */

.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
}
.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.review-col img{
  height: 30px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.review-col p{
    padding: 0;
}
.review-col h3{
    margin-top: 15px;
    text-align: left;
}

/* -----ENROLL---CONTACT------ */

.cta{
    margin: 30px auto;
    width: 98%;
    height: 520px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

.cta h1{
    color: white;
    margin-bottom: 58px;
  padding-top: 141px;

}


/* -----footer--------------- */
.footer{
    width: 100%;
    text-align: center;
    padding:30px 0 ;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}


